@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Список пород кошек</h1>

@foreach (var item in Model.Breeds)
{
    <div style="margin-bottom:20px;">
        <h2>@item.Name</h2>
        <img src="@item.ImageUrl" alt="@item.Name" width="200" />
        <p>@item.Description</p>
    </div>
}