@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Породы кошек</h1>

@foreach (var breed in Model.Breeds)
{
    <div style="margin-bottom: 20px;">
        <h2>@breed.Name</h2>
        <p>@breed.Description</p>

        @if (breed.Images?.Any() == true)
        {
            <img src="@breed.Images.First().Url" alt="@breed.Name" width="200" />
        }
        else
        {
            <p><i>Изображение отсутствует</i></p>
        }
    </div>
}